@import '@tabler/icons-webfont/dist/tabler-icons.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@import '@fontsource-variable/jetbrains-mono';
@import '@fontsource-variable/plus-jakarta-sans';


@tailwind utilities;
@layer tailwind-base, primevue, tailwind-utilities;
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: 'Plus Jakarta Sans Variable', sans-serif;
}


.mono, .highlighted * {
  font-family: 'JetBrains Mono Variable', monospace;
}

.electron .electron\:pt-4 {
  @apply pt-4;
}

.electron.electron-mac .app-left-rail {
  padding-top: 2rem;
}

.electron.electron-mac .app-logo-link {
  display: block;
}

.region-drag {
  -webkit-app-region: drag;
}

.region-no-drag {
  -webkit-app-region: no-drag;
}
