@import '@tabler/icons-webfont/dist/tabler-icons.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@import '@fontsource-variable/jetbrains-mono';
@import '@fontsource-variable/plus-jakarta-sans';


@tailwind utilities;
@layer tailwind-base, primevue, tailwind-utilities;
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: 'Plus Jakarta Sans Variable', sans-serif;
  --app-border-color: var(--color-neutral-200);
  --app-bg: #FFF;
}

.dark {
  --app-border-color: var(--color-neutral-800);
  --app-bg: #121212;
}

.electron-mac {
  font-family: system-ui;
}

.electron-mac.dark {
  --app-bg: #181818;
}


.electron-mac .sidenav-elements {
  --app-border-color: #00000011;
}
.electron-mac.dark  .sidenav-elements {
  --app-border-color: #FFFFFF11;
}

* {
  -electron-corner-smoothing: system-ui;
}

.mono, .highlighted * {
  font-family: 'JetBrains Mono Variable', monospace;
}

.electron .electron\:pt-4 {
  @apply pt-4;
}

.electron.electron-mac .app-left-rail {
  padding-top: 2rem;
}

.electron.electron-mac .app-logo-link {
  display: block;
}

.region-drag {
  -webkit-app-region: drag;
}

.region-no-drag {
  -webkit-app-region: no-drag;
}

.electron .p-component-overlay,
.electron .p-dialog-mask,
.electron .p-dialog-mask *,
.electron .p-dialog,
.electron .p-dialog *,
.electron .p-confirmdialog,
.electron .p-confirmdialog *,
.electron .p-popover,
.electron .p-popover *,
.electron .p-menu,
.electron .p-menu *,
.electron .p-select-overlay,
.electron .p-select-overlay *,
.electron .p-datepicker,
.electron .p-datepicker *,
.electron .p-toast,
.electron .p-toast *,
.electron .p-tooltip,
.electron .p-tooltip * {
  -webkit-app-region: no-drag;
}

.scrollbar-hidden {
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

@utility app-border {
  border-color: var(--app-border-color);
}

@utility app-border-bg {
  background-color: var(--app-border-color);
}

@utility app-bg {
  background-color: var(--app-bg);
}

.app-bg-no-mac,
.sidenav-elements{
  background-color: var(--app-bg);
}
.electron-mac .app-bg-no-mac {
  background-color: transparent;
}

.electron-mac .sidenav-elements {
  background-color: #FFFFFF88;
}
.dark.electron-mac .sidenav-elements {
  background-color: transparent;
}
